.a1{
	font-size: 1em;
	color: red;
}
.a2{
	font-size: 2em;
	color: blue;
}
.a3{
	font-size: 3em;
	color: #789202;
}
.a4{
	font-size: 4em;
	color: green;
}
.a6{
	font-size: 6em;
	color: yellow;
}
.a7{
	font-size: 7em;
	color: #123456;
}
.a8{
	font-size: 8em;
	color: black;
}
.a9{
	font-size: 9em;
	color: #98673F;
}
.a10{
	font-size: 10em;
	color: #E96774;
}
.a11{
	font-size: 11em;
	color: #E96774;
}
.a12{
	font-size: 12em;
	color: #567988;
}
.a12{
	font-size: 13em;
	color: #567999;
}
.a16{
	font-size: 14em;
	color: #567988;
}
.a17{
	font-size: 17em;
	color: #567999;
}